// Color
$fontColor: #282828
$activeColor: #FA4A0C

// Fonts
$font: 'Montserrat', sans-serif

// Shadows
$dropShadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
$btnShadow: 0px 10px 30px rgba(183, 50, 39, 0.2)

// Window Size
$maxSize: 1440px



