:root {
  --font-color: #282828;
  --active-color:#FA4A0C;
  --font: "Montserrat", sans-serif;
  --drop-shadow: drop-shadow(0px, 4px, 4px, rtba(0, 0, 0, .25));
  --btn-shadow: 0px 10px 30px rgba(183, 50, 39, .2);
  --max-size: 1440px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.75px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--active-color);
}

.btn-group {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  gap: 34px;
}
.btn-group .btn {
  align-items: center;
  box-shadow: var(--btn-shadow);
  font-weight: 700;
  color: #fff;
  outline: none;
  background: none;
  border: 1px solid #fff;
}
.btn-group .btn:hover {
  background-color: var(--active-color);
  border: none;
}
.btn-group .active {
  background-color: var(--active-color);
  border: none;
}

.app {
  max-width: var(--max-size);
  width: 100%;
  height: 100%;
  margin: auto;
}

.header {
  height: 156px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 70px;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  max-width: 206px;
  width: 100%;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  height: 48px;
  max-width: 580px;
  width: 100%;
  font-weight: 600;
  filter: var(--drop-shadow);
}
.header .nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header .nav-item:first-child {
  margin-left: 0px;
}
.header .nav-item:last-child {
  margin-right: 0px;
}
.header .menu-burger {
  display: none;
  width: 18px;
  height: 18px;
}

.s1-section {
  background-image: url("./../../img/s1_bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 73px 15% 0px 15%;
}
.s1-section .title {
  font-size: 58px;
  line-height: 80px;
  padding: 10px 33px;
  margin: 7px auto;
  letter-spacing: 0.5px;
}
.s1-section .text {
  font-weight: 500;
  padding: 10px 88.5px 48px 88.5px;
}
.s1-section .btn {
  max-width: 236px;
  width: 100%;
  height: 68px;
  padding: 16px 0px;
  border-radius: 30px;
  font-size: 24px;
  line-height: 36px;
}
.s1-section .phone {
  margin: -150px 0px 0px 60px;
  max-width: 720px;
  width: 100%;
  height: auto;
}
.s1-section hr {
  max-width: 884px;
  width: 100%;
  height: 0px;
  margin: auto;
  border: 1px solid #e4e4e4;
}

.s2-section, .s3-section, .s4-section {
  text-align: center;
  font-size: 44px;
  font-weight: 600;
  padding-top: 72px;
}
.s2-section .content, .s3-section .content, .s4-section .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 115px 200px 0px 200px;
}
.s2-section .content .phone, .s3-section .content .phone, .s4-section .content .phone {
  width: 100%;
  max-width: 300px;
}
.s2-section .content .body, .s3-section .content .body, .s4-section .content .body {
  max-width: 568px;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2px;
}
.s2-section .content .body h4, .s3-section .content .body h4, .s4-section .content .body h4 {
  font-weight: 700;
  color: var(--active-color);
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}
.s2-section .content .body h3, .s3-section .content .body h3, .s4-section .content .body h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 57px;
  margin-bottom: 7px;
}
.s2-section .content .body p, .s3-section .content .body p, .s4-section .content .body p {
  font-weight: 500;
  color: #737373;
}

.s4-section {
  padding-bottom: 150px;
}

.s5-section {
  background-image: url("../../img/s5_bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 510px;
  text-align: center;
  color: #fff;
  padding-top: 130px;
}
.s5-section h2 {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 10px;
}
.s5-section p {
  padding: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
}
.s5-section .btn {
  min-width: 142px;
  height: 64px;
  padding: 19px 31px 18px 31px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 255px;
  padding: 0px 150px;
}
.footer .logo {
  width: 206px;
}
.footer .soc {
  display: flex;
  align-items: center;
}
.footer .soc-item {
  margin: 0px 12px;
}
.footer .soc-item img {
  padding: 5px;
}
.footer .copyright {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 1280px) {
  .s1-section {
    padding: 73px 10% 0px 10%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0px 16px;
  }
  .header .nav {
    max-width: 360px;
  }
  .s1-section {
    padding: 73px 73px 0px 73px;
  }
  .s1-section .title {
    font-size: 46px;
    line-height: 72px;
  }
  .s1-section .phone {
    margin: -15% 0px 0px 2%;
    max-width: 620px;
  }
  .s2-section .content, .s3-section .content, .s4-section .content {
    padding: 115px 100px 0px 100px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 112px;
  }
  .header .logo {
    max-width: 150px;
  }
  .s1-section {
    padding: 115px 25px 0px 25px;
    font-size: 16px;
    line-height: 24px;
  }
  .s1-section .title {
    font-size: 36px;
    line-height: 48px;
  }
  .s1-section .phone {
    margin: -18% 0px 0px 3%;
  }
  .s2-section .title, .s3-section .title, .s4-section .title {
    font-size: 36px;
    line-height: 48px;
  }
  .s2-section .content, .s3-section .content, .s4-section .content {
    padding: 50px 50px 0px 50px;
  }
  .s2-section .content .phone, .s3-section .content .phone, .s4-section .content .phone {
    max-width: 200px;
  }
  .s2-section .content .body, .s3-section .content .body, .s4-section .content .body {
    max-width: 400px;
    font-size: 18px;
    line-height: 28px;
  }
  .s2-section .content .body h3, .s3-section .content .body h3, .s4-section .content .body h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .footer {
    height: 172px;
    padding: 0px 25px;
  }
  .footer .logo {
    width: 150px;
  }
  .footer .soc-item {
    margin: 0px 6px;
  }
  .footer .soc-item img {
    width: 32px;
    height: 32px;
    padding: 5px;
  }
}
@media screen and (max-width: 546px) {
  .header .logo {
    max-width: 104px;
  }
  .header .nav {
    display: none;
  }
  .header .menu-burger {
    display: block;
  }
  .s1-section {
    background: none;
    font-size: 14px;
    color: var(--font-color);
    padding: 50px 0px 0px 0px;
  }
  .s1-section .title {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    line-height: 36px;
  }
  .s1-section .btn-group {
    flex-wrap: wrap;
    gap: 24px;
  }
  .s1-section .btn-group .btn {
    color: var(--active-color);
    border: 1px solid var(--active-color);
  }
  .s1-section .btn-group .btn:hover {
    color: #fff;
  }
  .s1-section .btn-group .active {
    color: #fff;
  }
  .s1-section .phone {
    margin: -15% 0px 0px -8%;
  }
  .s2-section, .s3-section, .s4-section {
    padding-top: 30px;
  }
  .s2-section .title, .s3-section .title, .s4-section .title {
    font-size: 24px;
    line-height: 36px;
  }
  .s2-section .content, .s3-section .content, .s4-section .content {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 25px 25px 0px 25px;
  }
  .s2-section .content .phone, .s3-section .content .phone, .s4-section .content .phone {
    max-width: 200px;
    padding-top: 25px;
  }
  .s2-section .content .body, .s3-section .content .body, .s4-section .content .body {
    text-align: center;
  }
  .s3-section .content {
    flex-wrap: wrap;
  }
  .s5-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #252B42;
    height: 604px;
    padding: 90px 24px;
  }
  .s5-section h2 {
    font-size: 36px;
    line-height: 48px;
    padding: 0;
  }
  .s5-section p {
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .s5-section .btn-group {
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .footer .logo {
    display: none;
  }
  .footer .soc-item {
    margin: 0px 6px;
  }
  .footer .soc-item img {
    width: 48px;
    height: 48px;
  }
}
